/* Global  */

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.55;
  color: #9e9e9e;
  overflow-x: hidden;
}

.container {
  max-width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.3;
  color: #292929;
}

.btn {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #292929;
  background-color: #eebd0d;
  border: none;
  cursor: pointer;
  width: 170px;
  border-radius: 25px;
  height: 50px;
  outline: none;
  transition: all 0.3s;
}

.btn:hover,
.btn:focus {
  background-color: #ffda0a;
}

/* Header */

.header {
  height: 100vh;
  position: relative;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}

.header__logo {
  text-decoration: none;
  display: inline-block;
}

.header__logo-image {
  display: inline-block;
}

.menu__list {
  display: flex;
  padding-left: 0;
}

.menu__item {
  list-style: none;
}

.menu__item:not(:first-child) {
  margin-left: 60px;
}

.menu__link {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #9fa3a7;
  text-decoration: none;
  display: block;
  position: relative;
  transition: all 0.3s;
}

.menu__link::before {
  content: '';
  width: 0;
  height: 2px;
  background-color: transparent;
  bottom: -5px;
  left: 0;
  position: absolute;
  transition: all 0.6s;
}

.menu__link:hover {
  color: #292929;
}

.menu__link:hover::before {
  width: 100%;
  background-color: #292929;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 200px;
}

.header__title {
  max-width: 310px;
  margin-bottom: 0;
}

.header__text {
  max-width: 350px;
  margin-bottom: 40px;
}

.header__btn {
  margin-right: 50px;
}

.header__link {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #292929;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.header__link::before {
  content: '';
  width: 0;
  height: 2px;
  background-color: transparent;
  bottom: -5px;
  left: 0;
  position: absolute;
  transition: all 0.6s;
}

.header__link:hover::before {
  width: 100%;
  background-color: #292929;
}

.header__image img {
  display: block;
  max-width: 100%;
}

.header__arrow {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}
.header__arrow-image {
  display: inline-block;
}

/* Burger menu */

.burger__button-wrapper {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  border: 2px solid #eebd0d;
  border-radius: 50%;
  display: none;
  margin-top: -10px;
  z-index: 5;
}

.burger__button {
  width: 25px;
  height: 2px;
  background-color: #000;
  position: relative;
  z-index: 5;
}

.burger__button::before {
  content: '';
  width: 25px;
  height: 2px;
  top: -7px;
  left: 0;
  background-color: #000;
  display: block;
  position: absolute;
  transition: transform 0.2s linear, top 0.2s linear 0.2s;
}

.burger__button::after {
  content: '';
  width: 25px;
  height: 2px;
  top: 7px;
  left: 0;
  background-color: #000;
  display: block;
  position: absolute;
  transition: transform 0.2s linear, top 0.2s linear 0.2s;
}

/* Burger turn to X */

.burger__button.active {
  background-color: transparent;
}

.burger__button.active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s linear 0.2s;
  background-color: #fff;
}

.burger__button.active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s linear 0.2s;
  background-color: #fff;
}

/* Mobile navigation */

.menu__mobile-nav {
  display: block;
  position: absolute;
  top: 0;
  right: -70%;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
  padding-top: 80px;
  overflow: hidden;
  transition: 0.6s;
}

.menu__mobile-nav--active {
  transform: translateX(-100%);
}

.mobile-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.mobile-nav__item {
  list-style: none;
  margin-bottom: 30px;
  border-bottom: 1px solid #424245;
  padding-bottom: 5px;
  width: 100%;
}

.mobile-nav__item:last-child {
  margin-bottom: 100vh;
  border-bottom: none;
}

.mobile-nav__link {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
  margin-bottom: 40px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

/* Description */

.description__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
}

.description__left-title {
  max-width: 355px;
  margin-bottom: 0;
}

.description__left-text {
  max-width: 410px;
}

.right-item__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.3;
  color: #353535;
  margin-bottom: 0;
  position: relative;
}

.right-item__title::before {
  content: '';
  top: 50%;
  left: 0;
  transform: translate(-150%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffc80a;
  position: absolute;
}

.right-item__title-first::after,
.right-item__title-second::after {
  content: '';
  top: 50%;
  left: 0;
  position: absolute;
}

.right-item__title-first::after {
  width: 50px;
  height: 49px;
  background-image: url(../images/stopwatch.png);
  transform: translate(-150%, -70%);
}

.right-item__title-second::after {
  width: 37px;
  height: 51px;
  background-image: url(../images/4.png);
  transform: translate(-185%, -70%);
}

.right-item__text {
  max-width: 255px;
  margin-top: 7px;
}

.text-underline {
  padding-bottom: 30px;
  margin-bottom: 50px;
  position: relative;
}

.text-underline::after {
  content: '';
  bottom: 0;
  left: 0;
  transform: translateX(-15%);
  width: 320px;
  height: 1px;
  background-color: #d1d1d1;
  position: absolute;
}

/* Specification */

.specification__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
}

.specification__title {
  max-width: 380px;
  margin-bottom: 0;
}

.specification__text {
  max-width: 420px;
}

.specification__image {
  display: block;
  max-width: 100%;
}

/* Reviews */

.slider__item-text {
  font-size: 34px;
  line-height: 1.3;
  color: #2c2c2c;
  max-width: 780px;
  margin: 100px auto 80px;
  display: block !important;
  text-align: center;
  position: relative;
}

.slider__item-text::before {
  content: '';
  width: 41px;
  height: 27px;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../images/reviews/quote.png);
  position: absolute;
}

.slider__item-image {
  max-width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.slider-image__item {
  padding: 0 100px;
}

/* Buy */

.buy__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 160px;
}

.title__buy {
  max-width: 300px;
}

.but__cost {
  font-family: 'Roboto', sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
  color: #2c2c2c;
}

.buy__image {
  display: block;
  max-width: 100%;
}

.buy__form {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 50%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.form__input {
  font-family: inherit;
  font-size: 16px;
  text-align: center;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  padding: 15px;
}

.form__input::placeholder {
  text-transform: uppercase;
}

.form__btn {
  width: 75%;
  max-width: 75%;
  margin-top: 20px;
}

/* Popup */

.popup {
  top: -100%;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 50%;
  transform: translate(-50%, 50%);
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1;
  overflow: hidden;
  transition: 0.6s;
  border-radius: 15px;
  transition: 0.6s;
  opacity: 0;
  position: absolute;
}

.popup--active {
  top: 0;
  opacity: 1;
}

.popup__title {
  text-align: center;
  color: #fff;
  padding-top: 50px;
}

.popup__text {
  text-align: center;
  color: #fff;
  max-width: 95%;
  margin: 0 auto;
}

.popup__close {
  content: '';
  width: 25px;
  height: 2px;
  top: 30px;
  right: 40px;
  background-color: #fff;
  border: none;
  display: block;
  position: absolute;
  transform: rotate(45deg);
  cursor: pointer;
}

.popup__close::after {
  content: '';
  width: 25px;
  height: 2px;
  top: 0;
  right: 0;
  background-color: #fff;
  border: none;
  display: block;
  position: absolute;
  transform: rotate(90deg);
  cursor: pointer;
}

/* Footer */

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0 30px;
}

.footer__logo {
  text-decoration: none;
  display: inline-block;
}

.footer__logo-image {
  display: inline-block;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link {
  text-decoration: none;
  margin-left: 30px;
  display: block;
}

.social__link:first-child {
  margin-left: 0;
}

.social__image {
  display: block;
}
